body {
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #6acb9a;
    font-weight: bold;
}

p {
    margin: 0;
}

h1, h2 {
    color: whitesmoke;
}

input {
    width: 240px;
    height: 40px;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    color: whitesmoke;
    box-shadow: 4px 6px 6px -4px rgb(47, 58, 47);
    background-color:rgb(168, 165, 165);
    text-transform: uppercase;
}

.display {
display: flex;
flex-direction: column;
row-gap: 10px;

}

.currency {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rate {
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 4px 6px 6px -4px rgb(47, 58, 47);
    background-color: whitesmoke;
    color:rgb(43, 36, 36);
    font-size: 1rem;
}