body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #2ec5f3;
    font-weight: bold;
}

input {
    width: 240px;
    height: 40px;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    color: rgb(47, 58, 47);
    box-shadow: 4px 6px 6px -4px rgb(47, 58, 47);
    background-color: rgb(168, 165, 165);
    text-transform: uppercase;
}

div {
    width: 50vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    margin-bottom: 20px;
}

table {
    visibility: hidden;
    padding: 10px;
    border-spacing: 10px;
}

caption {
    font-size: 1.5rem;
}

table>thead {
    display: flex;
    flex-direction: column;
}

th,
td {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: inset;
    background-color: whitesmoke;
}

th {
    font-size: 1.25rem;
}

table>tbody {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

tr {
    display: flex;
    gap: 10px;
}

td:first-child {
    justify-content: start;
}

.error {
    color: red;
}