@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
    --size: 100%;
    --max-width: 1000px;
}

body {
    width: var(--size);
    margin: 0px auto;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: black;
    background-color: #e2e2e2;
    display: grid;
    justify-items: center;
}

.header {
    box-sizing: border-box;
    width: var(--size);
    max-width: 1000px;
    margin-top: 30px;
    display: grid;
    font-size: 2em;
    background-color: whitesmoke;
    justify-items: center;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

.main {
    box-sizing: border-box;
    width: var(--max-width);
    display: grid;
    background-color: white;
    justify-items: start;
    border: 1px solid;
}

.footer {
    box-sizing: border-box;
    width: var(--max-width);
    display: grid;
    background-color: white;
    justify-items: start;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

.date {
    width: var(--max-width);
    display: grid;
    background-color: white;
    justify-items: center;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}