@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
:root {
    --size: 100%;
    --secondary: rgba(26, 65, 106, 1);
}

body {
    margin: 0px auto;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(235, 223, 247);
}

.message {
    width: var(--size);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid var(--secondary);
    row-gap: 10px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    background-color: whitesmoke;
    color: var(--secondary);
    border-radius: 15px;
}

h2 {
    margin: 0px;
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    background-color: purple;
}

