body {
    background-color: rgba(42, 9, 9, 1);
    padding: 0;
    margin: 0;
    color: burlywood;
}

.carousel {
    width: 100vw;
    height: 100vh;
    margin: auto;
    border: 3px solid coral;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.slide {
    inset: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.slide>img {
    display: block;
    transition-delay: 0ms;
    object-fit: cover;
    object-position: center;
}

button {
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    font-weight: 700;
    color: red;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0.5rem;
}

button:hover,
button:focus {
    color: rgb(245, 77, 17, 0.5);
    background: rgba(255, 255, 255, 0.25);
}

button:focus {
    outline: 1px solid wheat;
}

button.prev {
    left: 1rem;
}

button.next {
    right: 1rem;
}